#content {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#titleItems {
  color: #5d4037;
  font-size: xx-large;
  font-weight: bolder;
}

img {
  width: 300px;
  height: auto;
  border-radius: 10px;
  object-fit: cover;
}

.item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#items-obj {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 50px;
}

#items {
  margin: 20px;
}

.buttonDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #c83b0e;
  height: 50px;
  width: 60%;
  border-radius: 30px;
  border: 1px solid #5d4037;
}
.buttonDiv button {
  height: inherit;
  width: 25%;
  background-color: transparent;
  cursor: pointer;
  border: none;
  border-radius: 100%;
  color: #fff;
}
.buttonDiv p {
  cursor: context-menu;
  color: #fff;
}

.count {
  font-size: 1.2em;
}
